<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>https://172.27.42.54:443/</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>https://RISARC-DEV:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>RMSeBUBBLE</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>CYBAGE\ehrdevadmin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TransactionLOGConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=risarc-dev\sql2k8r2;Initial Catalog=RMSeBUBBLE_TransactionLOG;Persist Security Info=True;User ID=sa;Password=cybage@123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=RISARC-DB-Srv-W;Initial Catalog=RMSeBUBBLE_TransactionLOG;Persist Security Info=True;User ID=sa;Password=cybage@123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TransactionLOGConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=RISARC-DB-Srv-W;Initial Catalog=RMSeBUBBLE_TransactionLOG;Persist Security Info=True;User ID=sa;Password=cybage@123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="2" Enabled="False">
          <Destination Path="Data Source=risarc-dev\sql2k8r2;Initial Catalog=RMSeBUBBLEMembership_Test;Persist Security Info=True;User ID=sa;Password=cybage@123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=RISARC-DB-Srv-W;Initial Catalog=RMSeBUBBLEMembership_Test;Persist Security Info=True;User ID=sa;Password=cybage@123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=RISARC-DB-Srv-W;Initial Catalog=RMSeBUBBLEMembership_Test;Persist Security Info=True;User ID=sa;Password=cybage@123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RMSeBUBBLESetup" Order="3" Enabled="False">
          <Destination Path="Data Source=risarc-dev\sql2k8r2;Initial Catalog=RMSeBUBBLE2_TEST;Persist Security Info=True;User ID=sa;Password=cybage@123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=RISARC-DB-Srv-W;Initial Catalog=RMSeBUBBLE2_TEST;Persist Security Info=True;User ID=sa;Password=cybage@123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RMSeBUBBLESetup_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=RISARC-DB-Srv-W;Initial Catalog=RMSeBUBBLE2_TEST;Persist Security Info=True;User ID=sa;Password=cybage@123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RMSeBUBBLE" Order="4" Enabled="False">
          <Destination Path="Data Source=risarc-dev\sql2k8r2;Initial Catalog=RMSeBUBBLE2_TEST;Persist Security Info=True;User ID=sa;Password=cybage@123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=RISARC-DB-Srv-W;Initial Catalog=RMSeBUBBLE2_TEST;Persist Security Info=True;User ID=sa;Password=cybage@123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RMSeBUBBLE_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=RISARC-DB-Srv-W;Initial Catalog=RMSeBUBBLE2_TEST;Persist Security Info=True;User ID=sa;Password=cybage@123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Logging" Order="5" Enabled="False">
          <Destination Path="Data Source=risarc-dev\sql2k8r2;Initial Catalog=RMSeBUBBLELogging_Test;Persist Security Info=True;User ID=sa;Password=cybage@123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=RISARC-DB-Srv-W;Initial Catalog=RMSeBUBBLELogging_Test;Persist Security Info=True;User ID=sa;Password=cybage@123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Logging_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=RISARC-DB-Srv-W;Initial Catalog=RMSeBUBBLELogging_Test;Persist Security Info=True;User ID=sa;Password=cybage@123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServices-Web.config Connection String">
      <ParameterValue>Data Source=risarc-dev\sql2k8r2;Initial Catalog=RMSeBUBBLEMembership_Test;Persist Security Info=True;User ID=sa;Password=cybage@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Logging-Web.config Connection String">
      <ParameterValue>Data Source=risarc-dev\sql2k8r2;Initial Catalog=RMSeBUBBLELogging_Test;Persist Security Info=True;User ID=sa;Password=cybage@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RMSeBUBBLE-Web.config Connection String">
      <ParameterValue>Data Source=risarc-dev\sql2k8r2;Initial Catalog=RMSeBUBBLE2_TEST;Persist Security Info=True;User ID=sa;Password=cybage@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RMSeBUBBLESetup-Web.config Connection String">
      <ParameterValue>Data Source=risarc-dev\sql2k8r2;Initial Catalog=RMSeBUBBLE2_TEST;Persist Security Info=True;User ID=sa;Password=cybage@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TransactionLOGConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=risarc-dev\sql2k8r2;Initial Catalog=RMSeBUBBLE_TransactionLOG;Persist Security Info=True;User ID=sa;Password=cybage@123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>