html {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
body {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
div {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
h1 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
h2 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
h3 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
h4 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
h5 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
h6 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
a {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
p {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
blockquote {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
pre {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
address {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
img {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
dl {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
dt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
dd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
ol {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
ul {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
li {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
table {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
tr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
th {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
td {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
form {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
label {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
input {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
textarea {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
object {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
iframe {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-weight: normal;
}
hr {
	margin: 0px; padding: 0px; border: currentColor; height: 0px; display: block;
}
pre {
	overflow: auto;
}
ul {
	list-style-type: none;
}
a {
	font-weight: inherit;
}
body {
	color: rgb(204, 204, 204); font-family: Helvetica, Arial, sans-serif; font-size: 12px;
}
a img {
	margin: 1px;
}
a:hover img {
	margin: 0px; border: 1px solid rgb(0, 255, 0);
}
a img.noborder {
	margin: inherit;
}
a:hover img.noborder {
	margin: inherit; border: currentColor;
}
pre {
	background: rgb(51, 51, 51); color: rgb(255, 255, 255); font-family: Monaco, monospace;
}
code {
	background: rgb(51, 51, 51); color: rgb(255, 255, 255); font-family: Monaco, monospace;
}
kbd {
	background: rgb(51, 51, 51); color: rgb(255, 255, 255); font-family: Monaco, monospace;
}
samp {
	background: rgb(51, 51, 51); color: rgb(255, 255, 255); font-family: Monaco, monospace;
}
var {
	background: rgb(51, 51, 51); color: rgb(255, 255, 255); font-family: Monaco, monospace;
}
del {
	color: rgb(102, 102, 102); font-weight: normal; text-decoration: line-through;
}
ins {
	text-decoration: none; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: dotted;
}
pre {
	line-height: 2em; margin-bottom: 2em;
}
p {
	line-height: 2em; margin-bottom: 2em;
}
th {
	line-height: 2em;
}
td {
	line-height: 2em;
}
pre {
	background: rgba(102, 102, 102, 0.5); padding: 24px; border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
blockquote {
	background: url("images/bg-blockquote.gif") no-repeat 24px 30px rgba(0, 0, 0, 0.5); margin: 0px 24px 2em 0px; padding: 24px 48px; border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
blockquote p {
	margin-bottom: 0px;
}
blockquote p + p {
	margin-top: 2em;
}
ol {
	line-height: 2em; margin-bottom: 2em;
}
ul {
	line-height: 2em; margin-bottom: 2em;
}
h1 {
	color: rgb(255, 255, 255); font-weight: bold;
}
h1 {
	line-height: 1em; font-size: 2em;
}
h2 {
	line-height: 1em; font-size: 2em;
}
.project h2 {
	line-height: 1.33em; font-size: 1.5em;
}
h3 {
	line-height: 1.33em; font-size: 1.5em;
}
h4 {
	line-height: 2em; font-size: 1em;
}
.font-size-base {
	line-height: 2em; font-size: 1em;
}
.add-bottom-margin {
	margin-bottom: 24px;
}
.center-text {
	text-align: center;
}
.centered {
	margin-right: auto; margin-left: auto;
}
em {
	color: rgb(255, 255, 255);
}
strong {
	color: rgb(255, 255, 255);
}
a {
	color: rgb(0, 255, 0);
}
a:hover {
	color: rgb(0, 255, 0) !important; text-decoration: none;
}
#nav ul {
	text-transform: lowercase; line-height: 1em; font-size: 2em; margin-bottom: 0px;
}
#nav a {
	color: rgb(255, 0, 255); text-decoration: none;
}
input {
	color: rgb(255, 0, 255); font-family: Helvetica, Arial, sans-serif; font-size: 12px;
}
textarea {
	color: rgb(255, 0, 255); font-family: Helvetica, Arial, sans-serif; font-size: 12px;
}
input {
	line-height: 12px;
}
textarea {
	line-height: 24px;
}
input:hover {
	color: rgb(0, 255, 0) !important;
}
input:focus {
	color: rgb(0, 255, 0) !important;
}
textarea:hover {
	color: rgb(0, 255, 0) !important;
}
textarea:focus {
	color: rgb(0, 255, 0) !important;
}
label {
	color: rgb(0, 0, 0) !important; font-weight: bold;
}
input.button {
	color: rgb(0, 0, 0) !important; font-weight: bold;
}
#footer label {
	color: rgb(51, 51, 51);
}
#footer input.button {
	color: rgb(51, 51, 51);
}
label span {
	color: rgb(204, 204, 204); font-size: 0.75em;
}
#footer label span {
	color: rgb(51, 51, 51);
}
#head ul {
	text-transform: lowercase; line-height: 1em;
}
h1 a {
	color: rgb(255, 0, 255); text-decoration: none;
}
h2 a {
	color: rgb(255, 0, 255); text-decoration: none;
}
h3 a {
	color: rgb(255, 0, 255); text-decoration: none;
}
h3.commentHeader a {
	color: rgb(0, 255, 0); text-decoration: underline;
}
h3.commentHeader a:hover {
	text-decoration: none;
}
.content dl {
	line-height: 2em; margin-bottom: 2em;
}
.content dl dt {
	font-weight: bold;
}
.content dl dd {
	margin-left: 1em;
}
dl.topics {
	height: 2em; line-height: 2em; margin-bottom: 0px;
}
dl.topics dt {
	color: rgb(153, 153, 153); text-transform: lowercase; padding-right: 1ex; font-size: 0.75em; font-weight: bold;
}
dl.topics dd {
	padding-right: 1ex; font-size: 0.75em; margin-left: 0px;
}
dl#allTopics dt {
	color: rgb(204, 204, 204); font-size: 1em;
}
dl#allTopics dd {
	font-size: 1em;
}
.content ul {
	margin-left: 1.5em; list-style-type: disc;
}
.content ol {
	margin-left: 1.5em;
}
.padding.download {
	background: rgba(0, 0, 0, 0.5); border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
.content ul.download {
	list-style: none; margin-left: 0px;
}
.download a {
	background: url("images/icon-link-file.gif") no-repeat 0px; padding-left: 24px; display: block;
}
.download a:hover {
	background-position: -552px;
}
.download a[href$='.zip'] {
	background-image: url("images/icon-link-zip.gif");
}
.commentsLink a {
	color: rgb(255, 0, 255); text-decoration: none;
}
ul.pagination li {
	padding-right: 1ex;
}
#footer {
	color: rgb(51, 51, 51);
}
#footer .padding {
	color: rgb(204, 204, 204);
}
::selection {
	background: rgb(255, 153, 0); color: rgb(255, 255, 255);
}
.hide {
	left: -500px; top: -500px; width: 0px; height: 0px; overflow: hidden; position: absolute;
}
body {
	background: url("images/bg-space-tile.gif") fixed repeat-x top rgb(51, 51, 51); text-align: center;
}
#rocket {
	background: url("images/rocket.gif") no-repeat top; left: 0px; top: 269px; height: 100px; right: 0px; position: absolute; z-index: 1;
}
#Earth {
	background: url("images/bg-earth.gif") fixed no-repeat top;
}
#moonHorizon {
	background: url("images/bg-moon-fixed.gif") fixed repeat-x bottom; position: relative; z-index: 2;
}
#navContainer {
	left: 0px; top: 0px; height: 0px; right: 0px; position: fixed; z-index: 900;
}
#navCenter {
	margin: 0px auto; padding: 0px 24px; width: 808px; height: 0px;
}
#nav {
	padding: 48px 0px 24px; width: 184px; text-align: right; float: left;
}
#nav ul {
	background: rgba(0, 0, 0, 0.5); padding: 24px 0px; border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
#nav li {
	
}
#nav li a {
	padding: 0px 24px; display: block;
}
#nav li a.current {
	background: url("images/bg-arrow-nav.gif") no-repeat left top; color: rgb(204, 204, 204);
}
#nav li a:hover {
	background: url("images/bg-arrow-nav.gif") no-repeat right top;
}
#nav li a.more:hover {
	background: url("images/bg-arrow-nav.gif") no-repeat top;
}
#search {
	background: rgba(0, 0, 0, 0.5); margin: 2em 3px 0px 0px; padding: 6px 33px 0px 12px; border-radius: 12px; border: 1px solid rgb(255, 0, 255); width: 135px; height: 16px; text-align: right; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
#searchButton {
	background: url("images/button-search.gif") no-repeat left top; border-radius: 12px; border: currentColor; top: -24px; width: 24px; height: 24px; color: rgb(0, 0, 0); font-size: 0px; position: relative; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
#searchButton:hover {
	background-position: right top;
}
#contentContainer {
	margin: 0px auto; padding: 24px 0px 0px 232px; width: 624px; text-align: left;
}
#head {
	width: 600px; height: 48px;
}
#wordmark {
	top: -2px; width: 303px; height: 36px; text-indent: -999em; float: left; position: relative;
}
#wordmark a {
	background: url("images/head-zachstronaut.gif") no-repeat left top; height: 100%; display: block;
}
#wordmark a:hover {
	background-position: right;
}
#head ul {
	width: 184px; text-align: right; margin-bottom: 0px; float: right;
}
#head ul a {
	width: 160px; display: block;
}
#head a.rss {
	background: url("images/bg-rss-icon.gif") no-repeat left bottom; padding: 12px 24px 0px 0px;
}
#head a.twitter {
	background: url("images/bg-twitter-icon.gif") no-repeat left top; padding: 0px 24px 12px 0px;
}
#head a.rss:hover {
	background-position: right bottom;
}
#head a.twitter:hover {
	background-position: right top;
}
#content {
	clear: both;
}
dl#allTopics {
	background: rgba(0, 0, 0, 0.5); margin: 0px 24px 24px 0px; padding: 0px 12px; border-radius: 12px; border: 1px solid rgb(204, 204, 204); height: 22px; line-height: 23px; clear: both; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
dl#allTopics dt {
	padding-left: 0px;
}
#footer {
	background: url("images/bg-moon-footer.gif") repeat-x top; padding-top: 144px; clear: both; margin-top: -2em;
}
#Moon {
	left: 0px; top: -324px; width: 1px; height: 1px; position: absolute;
}
#footerExtra {
	background: rgb(153, 153, 153); padding-bottom: 24px;
}
#footerCenter {
	margin: 0px auto; width: 624px; text-align: left; padding-left: 232px; position: relative; z-index: 800;
}
ul.elsewhere li a {
	background: url("images/icons-footer.gif") no-repeat; padding-left: 18px;
}
ul.elsewhere li a.dribbble {
	background-position: -952px 1px;
}
ul.elsewhere li a.github {
	background-position: 0px 1px;
}
ul.elsewhere li a.linkedin {
	background-position: -136px 1px;
}
ul.elsewhere li a.scribbls {
	background-position: -272px 1px;
}
ul.elsewhere li a.shortsix {
	background-position: -408px 1px;
}
ul.elsewhere li a.twitter {
	background-position: -544px 1px;
}
ul.elsewhere li a.watermelonsauce {
	background-position: -680px 1px;
}
ul.elsewhere li a.youtube {
	background-position: -816px 1px;
}
ul.comments li {
	background: url("images/icon-comment-footer.gif") no-repeat 0px 6px; padding-left: 18px;
}
ul.tweets {
	overflow: hidden;
}
ul.tweets li {
	background: url("images/icon-tweet-footer.gif") no-repeat 0px 6px; padding-left: 18px;
}
dl.topics dt {
	background: url("images/bg-circle-bullet.gif") no-repeat left; padding-left: 14px; float: left;
}
dl.topics dd {
	float: left;
}
.commentsLink {
	margin-top: -2em;
}
.post {
	clear: both; margin-bottom: 2em;
}
.single.post {
	margin-bottom: 0px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
hr {
	margin-right: 24px; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: dotted;
}
.content h1 {
	padding-right: 24px;
}
.content h2 {
	padding-right: 24px;
}
.content h3 {
	padding-right: 24px;
}
.content h4 {
	padding-right: 24px;
}
.content h5 {
	padding-right: 24px;
}
.content h6 {
	padding-right: 24px;
}
.content p {
	padding-right: 24px;
}
.content ol {
	padding-right: 24px;
}
.content ul {
	padding-right: 24px;
}
#footer p {
	padding-right: 24px;
}
.content pre {
	margin-right: 24px;
}
.content div.inset {
	margin-right: 24px; margin-bottom: 2em;
}
.content table {
	margin: 0px 24px 2em 0px; border: 0px currentColor; width: 600px;
}
ul.pagination {
	margin: 0px 0px 2em; padding: 0px; height: 2em;
}
ul.pagination li {
	list-style: none; margin: 0px; padding: 0px 1ex 24px 0px; height: 22px; line-height: 23px; float: left;
}
ul.pagination li.current span {
	background: rgba(0, 0, 0, 0.5); padding: 0px 12px; border-radius: 12px; border: 1px solid rgb(204, 204, 204); height: 22px; line-height: 23px; display: block; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
ul.pagination li a {
	background: rgba(0, 0, 0, 0.5); padding: 0px 12px; border-radius: 12px; border: 1px solid rgb(204, 204, 204); height: 22px; line-height: 23px; display: block; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
ul.pagination li.current span {
	color: rgb(204, 204, 204);
}
ul.pagination li a:hover {
	border: 1px solid rgb(0, 255, 0);
}
.formy input {
	background: rgba(0, 0, 0, 0.5); padding: 6px 12px 0px 36px; border-radius: 12px; border: 1px solid rgb(255, 0, 255); left: -24px; width: 160px; height: 16px; margin-bottom: 2em; float: left; position: relative; z-index: 1; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
.formy .invalid input {
	border-color: rgb(255, 0, 0); color: rgb(255, 0, 0);
}
.formy input.button {
	background: rgb(255, 0, 255); padding: 0px 12px; border: currentColor; left: 0px; width: 102px; height: 24px; margin-right: 24px; float: right;
}
.formy input.button:hover {
	background: rgb(0, 255, 0);
}
.formy input.button:active {
	background: rgb(0, 255, 0);
}
.formy label {
	background: rgb(255, 0, 255); padding: 0px 12px; border-radius: 12px; width: 78px; height: 24px; line-height: 24px; clear: left; margin-bottom: 2em; float: left; position: relative; z-index: 2; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
.formy .invalid label {
	background: rgb(255, 0, 0);
}
.formy label span {
	left: 102px; top: -3px; width: 162px; display: block; position: relative;
}
.formy label.long {
	width: 264px; float: none; display: block; position: relative;
}
.formy label.long span {
	top: 0px; width: auto; display: inline; position: absolute;
}
.formy textarea {
	padding: 0px 0px 0px 12px; width: 262px; height: 168px; -moz-border-radius: 12px; -webkit-border-radius: 12px; resize: none;
}
.formy div.textarea {
	background: rgba(0, 0, 0, 0.5); border-radius: 12px; border: 1px solid rgb(255, 0, 255); top: -4em; width: 286px; height: 180px; padding-top: 23px; margin-bottom: -2em; position: relative; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
.formy .invalid textarea {
	color: rgb(255, 0, 0);
}
.formy .invalid div.textarea {
	border-color: rgb(255, 0, 0);
}
.formy div.email {
	display: none;
}
.full {
	width: 624px; float: left;
}
.half {
	width: 312px; float: left;
}
.twoThirds {
	width: 416px; float: left;
}
.third {
	width: 208px; float: left;
}
.right {
	padding: 0px 24px 24px; float: right;
}
.right.third {
	padding-right: 0px;
}
.project-toc {
	background: rgba(0, 0, 0, 0.5); padding: 24px 0px 0px 24px; border-radius: 12px; margin-right: 24px; margin-bottom: 2em; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
.project-toc .half {
	width: 288px;
}
.clearFloats {
	clear: both;
}
.padding {
	padding: 24px; margin-right: 24px; margin-bottom: 2em;
}
.padding * {
	padding-right: 0px; margin-bottom: 0px;
}
.padding ul + p {
	margin-top: 2em;
}
#footer .padding {
	background: url("images/bg-footer-tile.gif") repeat-x left top rgb(102, 102, 102); border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
#footer .author.padding {
	background: url("images/bg-footer-author-tile.gif") repeat-x left top rgb(51, 51, 51); color: rgb(255, 255, 255);
}
.commentHeader {
	background: url("images/icon-comment-footer.gif") no-repeat left; padding-left: 18px; margin-bottom: 0px;
}
.error.padding {
	background: rgb(255, 0, 0); border-radius: 12px; color: rgb(0, 0, 0); -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
#footer .error.padding {
	background: rgb(255, 0, 0); border-radius: 12px; color: rgb(0, 0, 0); -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
.error.padding ul {
	margin-left: 1.5em; list-style-type: disc;
}
.success.padding {
	background: rgb(0, 255, 0); border-radius: 12px; color: rgb(0, 0, 0); -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
#footer .success.padding {
	background: rgb(0, 255, 0); border-radius: 12px; color: rgb(0, 0, 0); -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
ul.postList li p {
	margin-bottom: 0px;
}
table.documentation {
	background: rgba(0, 0, 0, 0.5); border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
table.documentation tr.row1 {
	background: rgba(0, 0, 0, 0.5);
}
table.documentation th {
	background: rgba(102, 102, 102, 0.5); padding: 0px 24px; border-radius: 12px; color: rgb(255, 255, 255); font-weight: bold; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
table.documentation td {
	padding: 0px 24px;
}
table.documentation td strong {
	font-family: Monaco, monospace;
}
